* {
    font-family: "Roboto", sans-serif;

    box-sizing: border-box;
}

/* header css start */


.topheader {

    height: 100px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;

}

.topheader .logo {
    height: 100%;
    width: 5%;
    border-radius: 50%;

}

.topheader .logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.topheader .navbar {
    height: 100%;
    width: 70%;

    display: flex;

}

.topheader .navbar ul {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topheader .navbar ul li {
    list-style: none;

}

.topheader .navbar ul li a {
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;

}

.topheader .navbar ul li a:hover {
    color: rgb(254, 72, 0);
    transition: color 0.3s ease;
    transform: scale(1.1);
}




.topheader .login {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.topheader .login a {
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;

}

/* header css end */

/* main css start */


.main {
    height: 600px;
    width: 100%;
    display: flex;


}

.main .leftmain {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
}

.main .leftmain h1 {
    font-size: 50px;
    font-weight: 700;
    color: blueviolet;
    margin-bottom: -8px;
}

.main .leftmain h2 {
    font-size: 30px;
    font-weight: 500;
    color: #534e4e;
    margin-bottom: -6px;
}

.main .leftmain h3 {
    font-size: 25px;
    font-weight: 500;
    color: blueviolet;
    margin-bottom: -10px;
}

.main .leftmain p {
    font-size: 20px;
    font-weight: 500;
    color: #534e4e;
    text-align: justify;
}

.main .leftmain .mainbtn {
    height: 300px;
    width: 300px;

}

.main .leftmain .mainbtn a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;



}

.main .leftmain .mainbtn .cv {
    background-color: #FFF;
    color: blueviolet;
}

.main .leftmain .mainbtn .cv:hover {
    background-color: blueviolet;
    color: white;
}


.main .rightmain {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main .rightmain img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

/* main content end */


/* aboutme start */

.aboutme {
    height: 500px;
    width: 100%;
    display: flex;
}

.aboutme .leftaboutme {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme .leftaboutme img {
    border-radius: 50%;
}

.aboutme .rightaboutme {
    height: 100%;
    width: 50%;

    padding: 20px;
}


.aboutme .rightaboutme .aboutmeheading {
    border-bottom: 2px solid violet;
    font-size: 40px;
    font-weight: 600;
    color: blueviolet;
}


.aboutme .rightaboutme h3 {
    margin-top: -2px;
    font-size: x-large;
    color: blueviolet;
}

.aboutme .rightaboutme p {
    text-align: justify;
    color: #3f3d3d;

}

.aboutme .rightaboutme .social {
    display: flex;
    font-size: 30px;
    height: 30px;
    width: 300px;
    justify-content: space-between;
    align-items: center;


}

.aboutme .rightaboutme .social a {

    font-size: 30px;

    background-color: blueviolet;
    border-radius: 50%;

}

.aboutme .rightaboutme .social a .bx {
    color: white;
    padding: 8px 9px;
}


/* aboutme end */

/* skills start */

.skills {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;

}

.skills .skillheading {

    color: blueviolet;
    font-weight: 600;
    font-size: xx-large;
    border-bottom: 2px solid blueviolet;
   
   

}

.skills .skillcontainer{
    margin-top: 20px;
    height: 80%;
    
    width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  
   
}

.skillcontainer .skillbox{
    height: 100px;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.skillcontainer .skillbox .bx{
    color: blueviolet;
    font-size: 100px;
    
}

.skillbox span{
    color: #3f3d3d;
    font-size: 30px;
}